@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap");
:root {
  --text-color: #376bf8;
  --primarycolor: #0d3374;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  scroll-behavior: smooth;
}

header {
  color: #fa5335;
  font-size: 1.55rem;
}

/*nav-bar*/
.nav-content {
  position: fixed;
  width: 100%;
  z-index: 99;
  transition: all 0.4s ease;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  height: 100px;
}

.nav-elements .nav-links {
  list-style: none;
  display: flex;
}
.nav-links .nav-item {
  cursor: pointer;
  text-decoration: none;
}
.nav-link {
  text-decoration: none;
  color: #fff;
  margin-right: 35px;
  font-size: 1.3rem;
}
.nav-link:hover {
  border-bottom: 3px solid #fa5335;
}
.active {
  border-bottom: 3px solid #fa5335;
}

.nav-content.sticky-nav {
  background-color: var(--primarycolor);
  height: 57px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.toggle-bar {
  color: #fff;
  float: right;
  font-size: 24px;
  line-height: 1.2;
  cursor: pointer;
  display: none;
}

/*home*/
.home-section {
  background-color: var(--primarycolor);
  color: #fff;
  display: grid;
  align-items: center;
  place-content: center;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 100px;
  padding-bottom: 15px;
}

.home-content {
  margin-top: 30px;
  margin-left: 150px;
}
.home-content h3 {
  font-size: 25px;
  color: #fff;
}
.home-content h1 {
  font-size: 55px;
}
.home-content h1 span {
  color: #fa5335;
}
.home-content h4 {
  font-size: 30px;
  margin-bottom: 15px;
}
.home-content a {
  background-color: var(--text-color);
  color: #fff;
  text-decoration: none;
  padding: 12px;
  border-radius: 10px;
  font-size: 20px;
}
.home-content a:hover {
  background-color: rgb(39, 39, 214);
}

.hero-img {
  display: block;
  width: 40vw;
}

/*About */
.section {
  padding: 60px 7%;
}

.about-section h3 {
  color: var(--text-color);
  margin-top: 15px;
  font-size: 27px;
}
.about-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  align-items: center;
}
.about-info1 {
  margin-bottom: 1.5rem;
}
.about-info2 {
  margin-bottom: 5px;
}
.about-info1,
.about-info2 {
  line-height: 1.7;
}
.tech-stack > img {
  border: 1px solid rgb(152, 183, 218);
  margin-bottom: 11px;
  margin-right: 7px;
  height: 120px;
  border-radius: 7px;
}
.tech-stack > img:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.8s all;
  overflow: hidden;
}
.tech-stack h3 {
  text-align: center;
  margin-bottom: 4px;
}

/*Portfolio*/
.portfolio-section {
  background-color: var(--primarycolor);
  color: #fff;
}
.portfolio-section h3 {
  color: #fff;
  font-size: 27px;
}

.portfolio-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  align-items: center;
}
.pf-image {
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 1px 1px 1px 1px rgba(106, 106, 192, 0.808);
  height: 385px;
  margin-top: 7px;
}
.pf-image:hover {
  transform: scale(0.85);
  transition: 1s all;
}

/*Contact */
.contact-section {
  margin-top: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
}
.contact-section a {
  padding: 15px;
  background-color: #2e60eb;
  border-radius: 8px;
  color: #fff;
}
.contact-section h3 {
  text-align: center;
  color: var(--text-color);
  font-size: 27px;
}
.phone {
  padding: 15px;
  background-color: #2e60eb;
  border-radius: 8px;
  color: #fff;
}
.contact-section a:hover {
  background-color: rgb(39, 39, 214);
}

.phone:hover {
  background-color: rgb(39, 39, 214);
}

/*footer*/
footer {
  background-color: var(--primarycolor);
  margin-top: 15px;
  text-align: center;
  padding: 10px;
}
.social-links a {
  color: #fff;
  margin-right: 8px;
  font-size: 25px;
}
.social-links h4 {
  color: #fff;
  margin-bottom: 8px;
}

@media only screen and (max-width: 975px) {
  header {
    font-size: 17px;
  }
  .toggle-bar {
    display: block;
  }
  .nav-elements .nav-links {
    flex-direction: column;
    margin-top: 150px;
  }

  .nav-elements {
    position: fixed;
    width: 100vw;
    height: 100%;
    background-color: rgb(1, 2, 19);
    transition: 0.4s;
    top: 45px;
    left: -100vw;
  }

  .nav-elements.active-nav {
    left: 0;
  }

  .nav-item {
    text-align: center;
    margin-top: 5vh;
  }
  .nav-link {
    color: #fff;
  }

  /*home*/
  .home-section {
    grid-template-columns: 1fr;

    place-items: center;
  }

  .home-content {
    margin-top: 60px;
    margin-left: 5px;
    margin-bottom: 15px;
    text-align: center;
  }

  .hero-img {
    width: 85vw;
    max-width: 500px;
  }

  /*about*/

  .about-grid {
    grid-template-columns: 1fr;
  }

  .about-info1,
  .about-info2 {
    font-size: 0.89rem;
  }
  .tech-stack > img {
    height: 100px;
  }

  /*portfolio*/

  .portfolio-images {
    grid-template-columns: 1fr;
  }
  .pf-images {
    margin: 0 15px;
  }
  .pf-image-pic {
    object-fit: cover;
  }

  .contact-section a {
    padding: 6px;
    font-size: 9px;
  }
  .contact-section h3 {
    font-size: 12px;
    margin-right: 12px;
  }
  .phone {
    font-size: 9px;
    padding: 6px;
    margin-left: 5px;
  }

  /*footer*/
  .social-links a {
    margin-right: 6px;
    font-size: 15px;
  }
  .social-links h4 {
    color: #fff;
    margin-bottom: 8px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 1300px) {
  .home-content h3 {
    font-size: 35px;
  }
  .home-content h1 {
    font-size: 30px;
  }

  .home-content h4 {
    font-size: 25px;
    margin-bottom: 12px;
  }
  .home-content a {
    padding: 15px;
    font-size: 15px;
    margin-top: 3px;
    margin-bottom: 8px;
    text-align: center;
  }
}
